In [1]:
#各教科の点数を変数として定義
japanese = 85
math = 90
english = 75

#平均点を計算
avarage = (japanese + math + english) / 3

#結果を表示
print("3教科の平均点は" , avarage , "点です")

3教科の平均点は 83.33333333333333 点です

In [2]:
a = 10
b = -5
c = 0
print(a+b)

5

In [3]:
print(10/3)

3.3333333333333335

In [4]:
print(10//3)

3

In [ ]:
y = 0.1+0.2 #浮動小数点誤差
print(y)

0.30000000000000004

In [ ]:
#2進法で近似してるから浮動小数点誤差が発生するらしい？

In [7]:
c = 2+3j
d = -1+0.5j
print(c+d)

(1+3.5j)

In [8]:
text = "Hello,World"
print(text)

Hello,World

In [9]:
text = "Python"
print(text.upper())

PYTHON

In [10]:
print(text.lower())

python

In [11]:
a=5
b=10
print(a<b)

True

In [13]:
print(a>b)

False

In [14]:
print(a==b)

False

In [18]:
x = None
print(x)

None

In [19]:
a=10
b=3
print("加算:",a+b)
print("除算:",a/b)
print("累乗:",a**b)

加算: 13
除算: 3.3333333333333335
累乗: 1000

In [ ]:
print(3/0) #0除算

ZeroDivisionError: division by zero

In [21]:
x=10
x+=5
print("x+=5:",x)

x+=5: 15

In [22]:
x*=2
print("x *= 2:",x)

x *= 2: 30

In [23]:
a=10
b=5
print("a>b:",a>b)
print("a==b:",a==b)

a>b: True
a==b: False

In [24]:
x=150
print("100<x<200:",100<x<200)

100<x<200: True

In [25]:
x=15
print("10<x and x<20:",10<x and x<20)
print("not(x==15):",not (x==15))

10<x and x<20: True
not(x==15): False

In [26]:
a=0b1100
b=0b1010
print("a&b:",bin(a&b))
print("a<<1:",bin(a<<1))

a&b: 0b1000
a<<1: 0b11000

In [ ]:
score = int(input("点数を入力してください"))
if score >= 60:
    print("合格です") #インデントをそろえる
print("処理を終了します")

合格です
処理を終了します

In [32]:
score = int(input("点数を入力してください:"))
if score >= 60:
    print("合格です")
    print("おめでとうございます")
else:
    print("不合格です")
    print("頑張りましょう")
print("処理を終了します")

合格です
おめでとうございます
処理を終了します

In [37]:
score = int(input("点数を入力してください:"))
if score >= 90:
    print("優秀です")
    print("すごい")
elif score >= 60:
    print("合格です")
    print("おめ")
else:   
    print("不合格です")
    print("あほ")
print("処理を終了します")

優秀です
すごい
処理を終了します

In [ ]:
for i in range(11): #0から10まで
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,21,2): #2から20まで
    print(i)

2
4
6
8
10
12
14
16
18
20

In [40]:
i=0
while i<10:
    i += 1
    print(i)
print("処理を終了します")

1
2
3
4
5
6
7
8
9
10
処理を終了します

In [41]:
i = 0
while True:
    i += 1
    if i>10:
        break
    print(i)
print("処理を終了します")

1
2
3
4
5
6
7
8
9
10
処理を終了します

In [ ]:
i=0
while True:
    i += 1
    if i > 10:
        break
    if i % 2 == 1:
        continue    #奇数ならprintせずi+=1に進む
    print(i)
print("処理を終了します")

2
4
6
8
10
処理を終了します

In [43]:
score = int(input("点数を入力してください:"))

ValueError: invalid literal for int() with base 10: 'h'

In [49]:
try:     #エラーが起こる可能性のある処理
    num = int(input("整数を入力してください:"))
    result = 100/num
    print(f"100を{num}で割った結果は{result}です")
except ZeroDivisionError:  #0で割った場合のエラー処理
    print("エラー: 0で割ることはできません")
except ValueError:  #数値以外を入力した場合のエラー処理
    print("エラー: 整数を入力してください")

エラー: 整数を入力してください

In [56]:
try:     
    num = int(input("整数を入力してください:"))
    result = 100/num
except ZeroDivisionError:  
    print("エラー: 0で割ることはできません")
except ValueError:  
    print("エラー: 整数を入力してください")
else:
    print(f"計算結果: {result}")
finally:
    print("プログラム終了")

エラー: 整数を入力してください
プログラム終了

In [ ]:
x = 10   #数値型
numbers = [1,2,3,4,5]   #リスト型

In [59]:
s = "abcdefghijklmnopqrstuvwxyz"
print(s[0])
print(s[-1])
print(s[30])

a
z

IndexError: string index out of range

In [63]:
print(s[0:7])    #s[開始位置:終了位置:増分]
print(s[-5:])    #開始位置，終了位置は省略可能
print(s[::2])
print(s[::-1])   #増分を負にすると逆順に取得

abcdefg
vwxyz
acegikmoqsuwy
zyxwvutsrqponmlkjihgfedcba

In [66]:
s = "TechAcademy"
for char in s:
    print(char.upper())
print(len(s))
if len(s)>10:
    print("長い文字列です")

T
E
C
H
A
C
A
D
E
M
Y
11
長い文字列です

In [ ]:
s = "にんてんどううどんてんに"
if s == s[::-1]:
    print(f"「{s}」は回文です")         #変数の値を文字列に挿入する場合にfが必要？
else:
    print(f"「{s}」は回文ではありません")

「にんてんどううどんてんに」は回文です

In [68]:
numbers = [1,2,3,4,5]
fruits = ["apple","banana","cherry"]
mixed = [1,"apple",3.14,True]
empty_list = []
print(numbers,fruits,mixed,empty_list)

[1, 2, 3, 4, 5] ['apple', 'banana', 'cherry'] [1, 'apple', 3.14, True] []

In [69]:
string_to_list = list("hello")
tuple_to_list = list((1,2,3))
range_to_list = list(range(5))
print(string_to_list,tuple_to_list,range_to_list)

['h', 'e', 'l', 'l', 'o'] [1, 2, 3] [0, 1, 2, 3, 4]

In [71]:
none_list = [None]*5
zeros = [0]*10
print(none_list,zeros)

[None, None, None, None, None] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [72]:
original = [1,2,3]
copy1 = original[:]
copy2 = list(original)
copy3 = original.copy()
print(copy1,copy2,copy3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [73]:
fruits = ["apple","banana","cherry"]
print(fruits[0],fruits[-1])
fruits[1] = "orange"
print(fruits)

apple cherry
['apple', 'orange', 'cherry']

In [74]:
numbers = [0,1,2,3,4,5]
print(numbers[1:3],numbers[:3],numbers[2:],numbers[::-1])

[1, 2] [0, 1, 2] [2, 3, 4, 5] [5, 4, 3, 2, 1, 0]

In [76]:
fruits.append("mango")
fruits.insert(1,"grape")
fruits.extend(["kiwi","pear"])
print(fruits)

['apple', 'grape', 'orange', 'cherry', 'mango', 'kiwi', 'pear']

In [77]:
fruits.pop(1)
print(fruits)

['apple', 'orange', 'cherry', 'mango', 'kiwi', 'pear']

In [78]:
fruits.remove("kiwi")
print(fruits)

['apple', 'orange', 'cherry', 'mango', 'pear']

In [79]:
del fruits[0]
print(fruits)

['orange', 'cherry', 'mango', 'pear']

In [81]:
fruits.clear()
print(fruits)

[]

In [82]:
list1 = [1,2,3]
list2 = [4,5,6]
combined = list1 + list2
list1.extend(list2)
print(combined,list1)

[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

In [83]:
numbers = [1,2,3,2,4,2]
print("2は存在するか:",2 in numbers)
print("2の出現回数:",numbers.count(2))
print("2の最初の位置:",numbers.index(2))

2は存在するか: True
2の出現回数: 3
2の最初の位置: 1

In [84]:
numbers = [3,1,4,1,5,9,2]
numbers.sort()
sorted_numbers = sorted(numbers,reverse=True)
print(numbers,sorted_numbers)

[1, 1, 2, 3, 4, 5, 9] [9, 5, 4, 3, 2, 1, 1]

In [85]:
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [86]:
even_numbers = [x for x in range(1,11) if x % 2 ==0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [87]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0][0],matrix[2][1])

1 8

In [88]:
for row in matrix:
    for element in row:
        print(element,end="")
    print()

123
456
789

In [89]:
matrix = [[i*j for j in range(1,4)] for i in range(1,4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [133]:
numbers = (1,2,3,4,5)
fruits = ("apple","banana","cherry")
mixed = (1,"apple",3.14,True)
empty_tuple = ()
one_element_tuple = (1,)   #要素が1つの時は,が必要
print(numbers,fruits,mixed,empty_tuple,one_element_tuple)

(1, 2, 3, 4, 5) ('apple', 'banana', 'cherry') (1, 'apple', 3.14, True) () (1,)

In [91]:
string_to_tuple = tuple("hello")
list_to_tuple = tuple([1,2,3])
range_to_tuple = tuple(range(5))
print(string_to_tuple,list_to_tuple,range_to_tuple)

('h', 'e', 'l', 'l', 'o') (1, 2, 3) (0, 1, 2, 3, 4)

In [92]:
none_tuple = (None,)*5
zeros = (0,)*10
print(none_tuple,zeros)

(None, None, None, None, None) (0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [93]:
original_list = [1,2,3]
copied_tuple = tuple(original_list)
original_tuple = (4,5,6)
copied_tuple2 = tuple(original_tuple)
print(copied_tuple,copied_tuple2)

(1, 2, 3) (4, 5, 6)

In [94]:
fruits = ("apple","banana","cherry")
print(fruits[0])
print(fruits[-1])

apple
cherry

In [95]:
numbers = (0,1,2,3,4,5)
print(numbers[1:3])
print(numbers[::-1])

(1, 2)
(5, 4, 3, 2, 1, 0)

In [96]:
fruits = ("apple","banana","cherry")
print("banana"in fruits)
print(fruits.index("cherry"))

True
2

In [98]:
numbers = (1,2,3,2,4,2,5)
print(numbers.count(2))

3

In [100]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

In [101]:
numbers = {"one":1,"two":2,"three":3}
person = {"name":"Alice","age":25,"is_student":False}
empty_dict = {}
print(numbers,person,empty_dict)

{'one': 1, 'two': 2, 'three': 3} {'name': 'Alice', 'age': 25, 'is_student': False} {}

In [102]:
person = dict(name="Bob",age=30,is_student=True)
pairs = [("apple",100),("banana",200)]
fruit_prices = dict(pairs)
print(person,fruit_prices)

{'name': 'Bob', 'age': 30, 'is_student': True} {'apple': 100, 'banana': 200}

In [103]:
keys = ["key1","key2","key3"]
default_dict = dict.fromkeys(keys,0)
print(default_dict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [105]:
fruits_prices = {"apple":100,"banana":200,"cherry":300}
print(fruit_prices["apple"])
fruits_prices["banana"]=250
print(fruits_prices)

100
{'apple': 100, 'banana': 250, 'cherry': 300}

In [106]:
fruits_prices = {"aplle":100,"banana":200}
fruits_prices["grape"] = 400
fruits_prices["banana"] = 180
print(fruits_prices)

{'aplle': 100, 'banana': 180, 'grape': 400}

In [108]:
fruit_prices = {"apple":100,"banana":200,"cherry":300}
del_price = fruit_prices.pop("banana")
del fruit_prices["cherry"]
fruit_prices.clear()
print(fruit_prices,del_price)

{} 200

In [109]:
fruit_prices = {"apple":100,"banana":200,"cherry":300}
print(fruit_prices.keys(),fruit_prices.values(),fruit_prices.items())

dict_keys(['apple', 'banana', 'cherry']) dict_values([100, 200, 300]) dict_items([('apple', 100), ('banana', 200), ('cherry', 300)])

In [110]:
fruit_prices = {"apple":100,"banana":200}
print("apple" in fruit_prices)
print("grape" in fruit_prices)

True
False

In [111]:
print("Hello,Python")
print(123)
print("test",end="")
print("next line")

Hello,Python
123
testnext line

In [113]:
print(len("Python"))
print(len([1,2,3,4]))

6
4

In [114]:
print(type(123))
print(type("Python"))
print(type([1,2,3]))

<class 'int'>
<class 'str'>
<class 'list'>

In [115]:
print(max(5,10,20))
print(min([1,2,3,4]))

20
1

In [116]:
print(sum([1,2,3,4]))
print(sum((10,20,30)))

10
60

In [117]:
for i in range(5):
    print(i)
print(list(range(1,10,2)))

0
1
2
3
4
[1, 3, 5, 7, 9]

In [121]:
def is_palindrome(s):
    if s == s[::-1]:
        print(f"「{s}」は回文です")
    else:
        print(f"「{s}」は回文ではありません")
is_palindrome("にんてんどううどんてんに")

「にんてんどううどんてんに」は回文です

In [122]:
def greet(name):
    print(f"こんにちは，{name}さん")
greet("太郎")

こんにちは，太郎さん

In [123]:
def introduce(name,age):
    print(f"こんにちは，{name}さん．年齢は{age}歳ですね．")
introduce("花子",25)

こんにちは，花子さん．年齢は25歳ですね．

In [137]:
def introduce(name,age=18):
    print(f"こんにちは，{name}さん．年齢は{age}歳ですね．")
introduce("太郎")

こんにちは，太郎さん．年齢は18歳ですね．

In [138]:
def add(*args):
    print("合計:",sum(args))
add(1,2,3,4,5,6,7,8,9)

合計: 45

In [127]:
def add(a,b):
    return a+b
result = add(3,5)
print(result)

8

In [129]:
def calculate(a,b):
    return a+b,a*b
sum_result,product_result = calculate(3,4)
print("和:",sum_result)
print("積:",product_result)

和: 7
積: 12

In [1]:
import math
print(math.sqrt(16))

4.0

In [ ]:
import datetime as dt
now = dt.datetime.now()
print("現在の日時:",now)

現在の日時: 2025-04-09 08:45:14.544336

In [2]:
from math import sqrt
print(sqrt(16))
from math import sqrt, pi 
print(pi)

4.0
3.141592653589793

In [3]:
from math import *

In [4]:
import math
print(math.sqrt(25))
print(math.exp(1))
print(math.pi)

5.0
2.718281828459045
3.141592653589793

In [ ]:
import datetime
now = datetime.datetime.now()
print(now)
birthday = datetime.datetime(1995,5,17)
print(birthday)
date1 = datetime.datetime(2023,1,1)
date2 = datetime.datetime(2024,1,1)
print((date2-date1).days)   #日数差

2025-04-09 09:05:09.397410
1995-05-17 00:00:00
365

In [ ]:
import random
print(random.randint(1,10))   #1~10のランダムな整数
my_list = [1,2,3,4,5]
random.shuffle(my_list)   #リストをランダムに並び替え
print(my_list)
print(random.choice(my_list))   #ランダムな要素1つ

10
[3, 2, 4, 1, 5]
3

In [7]:
import os
print(os.getcwd)
os.mkdir("new_folder")
print(os.path.exists("example.txt"))

<built-in function getcwd>
False

In [8]:
import urllib.request
url = "https://techacademy.jp"
response = urllib.request.urlopen(url)
html = response.read().decode("utf-8")
print(html[:500])

<!DOCTYPE html><html  lang="ja" data-theme="techacademy" data-capo=""><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>プログラミングスクール | 受講者数No.1のテックアカデミー</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://www.googletagmanager.com/gtag/js?id=AW-1006744060" async data-hid="92ebc66"></script>
<script src="//static.criteo.net/js/ld/ld.js" asy

In [20]:
tax_excluded_price = int(input("税抜価格を入力してください:"))
tax_rate = 0.1
tax_included_price = tax_excluded_price * (1 + tax_rate)
if tax_included_price >= 2000:
    shipping_cost = 0
    print("送料は無料です")
else:
    shipping_cost = 350
    print(f"送料は{shipping_cost}円です")
total_price = tax_included_price + shipping_cost
print(f"送料込税込価格は{total_price:.0f}円です")

送料は無料です
送料込税込価格は2001円です